.vscode
**/.git
**/visualizer
**/imgui.ini
push_swap/push_swap
push_swap/checker
**/log_error
**/checker_linux
**/push_swap_tester
**/server
**/client
**/minitalk-Tester
**/minilibx-linux
fract-ol/fractol
libft/*.o
**.o
