[submodule "libft"]
	path = libft
	url = https://github.com/star-child-0/libft

[submodule "fract-ol"]
	path = fract-ol
	url = https://github.com/Mattei-Giovanni/fract-ol

[submodule "minishell"]
	path = minishell
	url = https://github.com/star-child-0/minishell.git

[submodule "philosophers"]
	path = philosophers
	url = https://github.com/SickMarco/42Philosophers.git
